body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #f1f1f1;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.calculator-display {
    height: 50px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ff0090;
    background-color: #ccc;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background: #ff0090;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    background: #b30095;
}
